<head>
    {% load static %}
    <script src="{% static "js/jquery-3.5.1.js" %}"></script>
    <script src="{% static 'js/rango-jquery.js' %}"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
        .flex {
            display: flex;
            flex-wrap: wrap;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>
    <title>EmoDet About</title>

</head>

<body>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper cyan darken-4">
            <a href="/" class="brand-logo">EmoDet</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right  hide-on-med-and-down">
                <li><a href="/">Homepage</a></li>
                <li><a href="/data">Data</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav cyan darken-4 center" id="mobile-nav">
    <li><a class="white-text" href="/">Home</a></li>
    <li><a class="white-text" href="/data">Data</a></li>
    <li><a class="white-text" href="/about">About</a></li>
    <li><a class="white-text" href="#">Login</a></li>
</ul>


<main>
    <div class="container center">
        <div class="row">
            <div class="col s12">
                <h4 class="header">What is EmoDet:</h4>
                <div class="card-panel teal">
        <span class="white-text">EmoDet is an Emotion Detection system made in Python
        with the usage of a Tensorflow Light model and Django
        for its web application.
        </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h4 class="header">What's the target platform?</h4>
                <div class="card-panel teal">
                    <span class="white-text">Essentially Mobile, originally made for RaspberryPI 4</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h4 class="header">About the author:</h4>
                <div class="card-panel teal">
        <span class="white-text">Serban Cristian Tudosie: <br>
        Computer Engineering student, maker and enthusiast<br>
        Florence, Italy<br>
        </span>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- FOOTER --->
<footer class="page-footer cyan darken-4">
    <div class="container ">
        <div class="row">
            <div class="col l6 s12">
                <img class="responsive-img" src="{% static "logos/logo.png" %}" alt="logo">

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="white-text text-lighten-3" href="#!">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text text-lighten-3" href="#!">
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a class="white-text text-lighten-3" href="#!">
                            More
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>

</body>
