<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

<nav>
    <div class="nav-wrapper cyan darken-4">
        <a href="/" class="brand-logo">EmoDet</a>
        <ul id="nav-mobile" class="right  hide-on-med-and-down">
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>

<div class="container center">
    <h3>What is EmoDet: </h3>
    <p>
        EmoDet is an Emotion Detection system made in Python
        with the usage of a Tensorflow Light model and Django
        for its web application.
    </p>
    <h3>What are the target platforms: </h3>
    <p>
        Essentially Mobile, originary made for RaspberryPI 4
    </p>

    <h3>About the author: </h3>
    <p>
        Serban Cristian Tudosie:
        Computer Engineering student, maker and enthusiast
        Florence, Italy
    </p>
</div>


</body>
