<head>
    {% load materializecss %}
    {% load static %}
    <script src="{% static "js/jquery-3.5.1.js" %}"></script>
    <script src="{% static 'js/rango-jquery.js' %}"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
        .flex {
            display: flex;
            flex-wrap: wrap;
        }
    </style>


</head>

<body>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper cyan darken-4">
            <a href="/" class="brand-logo">EmoDet</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right  hide-on-med-and-down">
                <li><a href="/">Homepage</a></li>
                <li><a href="/info">Data</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav cyan darken-4 center" id="mobile-nav">
    <li><a class="white-text" href="/">Home</a></li>
    <li><a class="white-text" href="/info">Data</a></li>
    <li><a class="white-text" href="/about">About</a></li>
    <li><a class="white-text" href="#">Login</a></li>
</ul>


<div class="row flex">
    <div class="col m3 l3">
        <br><br>
        <div class="container">
            <form class="align-left" action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form|materializecss }}
                </table>
                <button type="submit" style="color:white"
                        class="waves-effect waves light btn-large">Apply
                </button>
            </form>
        </div>
    </div>

    <div class="col m9 l9">
        <div class="row flex">
            {% for person in persons %}
                <div class="col s12 m4 l4">
                    <div class="card hoverable">
                        <div class="card-image">
                            {% if person.person_thumbnail != None %}
                                <img src="{{ person.person_thumbnail.url }}" alt="face">
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <p>Frame Number:{{ person.person_frame }}</p>
                            <p>Emotion: {{ person.person_emotion }}</p>
                            <p>Prediction: {{ person.person_prediction_prob }}</p>
                            <p>Date: {{ person.person_last_seen }}</p>
                            {% if person.aiprediction.plot != None %}
                                <img class="materialboxed responsive-img hoverable"
                                     src="{{ person.aiprediction.plot.url }}"
                                     alt="graph">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>