<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

<nav>
    <div class="nav-wrapper cyan darken-4">
        <a href="/" class="brand-logo">EmoDet</a>
        <ul id="nav-mobile" class="right  hide-on-med-and-down">
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>

<div class="container center">
    <div class="row">
        {% for person in persons %}
            <div class="col s12 m4 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        {% if person.person_thumbnail != None %}
                            <img src="{{ person.person_thumbnail.url }}" alt="face">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title">Person {{ person }}</span>
                        <p>Latest Emotion: {{ person.person_emotion }}</p>
                        <p>Prediction Probability: {{ person.person_prediction_prob }}</p>
                        <p>Date: {{ person.person_last_seen }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>